{% extends 'layout.html.twig' %}

{% block title %}
Login | {{ parent() }}
{% endblock %}
{% block content %}
<div class="login-clean">
    {% if error is not empty %}
        <div class="alert alert-{{ error.class }}">
            {{ error.message }}
        </div>
    {% endif %}
    <div class="form-event col-4 offset-4">
    <form method="post">
        <h1 class="text">Login</h1>
        <small style="visibility:hidden" class="form-text text-muted">Help text for a form field.</small>
        <link rel="stylesheet" href="/assets/css/style.css">
        <div class="form-groupp">
            <input class="form-controll" type="username" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-controll" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <button class="btn btn-light active btn-block" type="submit" name="submit">To login</button>
        </div>
        <a class="forgot" style="visibility:hidden" href="#">Forgot password ?</a>
    </form>
    <div class="text-center">For inscription
    <a href="/form/add"><button type="submit" name=submit>click her</button>
    </a>
    </a>
    </div>
</div>
    </div>
{% endblock %}
