{% block content %}

    <h1>Deposite {{ wallet.client_id }}</h1>
    <p>{{ wallet.poids }}. {{ wallet.price }} </p>
    <a href="/api/index">Back</a>



    {{ dump(currencies.rates) }}
{% endblock %}