<form method="post">
    <input type="hidden" value="{{ depot.id }}" name="id">
    <input type="text" value="{{ depot.username }}" name="username" placeholder="Username">
    <input type="text" value="{{ depot.password }}" name="password" placeholder="Password">
    <input type="number" class="form-control" value="{{ depot.amount }}" name="amount" placeholder="Amount">
    <input type="submit" value="Submit">
</form>
