{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container text-center">
        <div class="card text-center border-successory mb-4">
            <div class="card-header">
                <h4 class="card-title">Depot ECUWALLET</h4>
            </div>
        </div>
        {% for depot in depots %}

     <div class="container">
         <div class="card text-center border-successory mb-3">
             <div class="card-header">
                 Depot for {{ depot.username }}
             </div>
             <div class="card-body border-successory mb-3">
                 <h5 class="card-title"> Amount </h5>
                 <p class="card-text">{{ depot.amount }} ECU</p>
             </div>

         </div>
     </div>
 {% endfor %}

{% endblock %}
