{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container text-center">
        {% for depot in depots %}
     <div class="container">
         <div class="card text-center border-successory mb-3">
             <div class="card-header">
                 ECUWALLET of {{ depot.username }}
             </div>
             <div class="card-body border-successory mb-3">
                 <h5 class="card-title"> Amount </h5>
                 <p class="card-text">{{ depot.amount }} ECU</p>
             </div>

         </div>
     </div>
 {% endfor %}

{% endblock %}
