{% extends 'layout.html.twig' %} {% block content %}
    <link href="/assets/css/index.css" rel="stylesheet" type="text/css">
    <h1>Welcome to EcuWallet</h1>
    <h2>Company specialised in the protection of your gold</h2>
{% endblock %}