<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Clean.css">
    {% block stylesheet %}{% endblock %}
    <link rel="icon" href="/assets/images/favicon.png">
</head>
<nav>
    <div class="profil collapse navbar-collapse">
        <ul class="navbar-nav m-l">

            {% if session is null %}
                <li class="btn-profil nav-item"><a href="/login/connection">Login</a></li>
            {% else %}
                <li class="btn-profil nav-item"><a href="/login/logout">Logout</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<body>
{% block content %}{% endblock %}
{% block javascript %}{% endblock %}
</body>
</html>


